<div class="main">
  <div class="navigation">
    <nav class="navbar navbar-expand navbar-light bg-primary d-flex justify-content-between">
      <div class="navbar-brand mb-0 h1 text-white">ONLINE RESUME BUILDER</div>
      <div class="navbar-brand mb-0 h1 text-white">GitHub</div>
    </nav>
  </div>
  <div class="section">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="container-fluid my-2">
          <form action="#" [formGroup]="formdata">
            <div class="shadow-sm card">
              <div class="card-body">
                <h4 class="card-title d-flex align-items-center">Personal Details</h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" id="firstname" placeholder="Enter Yout name"
                        formControlName="firstname">
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" name="address" id="address" rows="3"
                        formControlName="address"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="number" class="form-control" id="number" name="number" formControlName="number"
                        placeholder="Enter Your Number">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" id="email" name="email" formControlName="email"
                        placeholder="Enter Your email">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="profile" name="profile" formControlName="profile"
                        placeholder="Enter Your Social Profile">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="shadow-sm card">
              <div class="card-body">
                <div class="d-flex justify-content-between card-title">
                  <h4 class="card-title d-flex align-items-center">Skills</h4>
                  <button class="btn btn-primary d-flex align-items-center" (click)="addskills();">+</button>
                </div>
                <div class="row showskills">
                  <div class="col-md-3" *ngFor="let s of resume.skill;let i=index">
                    <div class="form-group">
                      <input type="text" class="form-control" id="skills" name="skills" formControlName="skills"
                        placeholder="e.g Java/ PHP">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="shadow-sm card">
              <div class="card-body">
                <div class="d-flex justify-content-between card-title">
                  <h4 class="card-title d-flex align-items-center">Experience</h4>
                  <button class="btn btn-primary d-flex align-items-center" (click)="addExperience()">+</button>
                </div>
                <div class="row" *ngFor="let y of resume.experience; let i=index;">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" id="employer" placeholder="Employer"
                        formControlName="employer">
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" name="jobdesc" id="jobdesc" rows="3" formControlName="jobdesc"
                        placeholder="Job Description"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="number" class="form-control" id="jobtitle" name="jobtitle" formControlName="jobtitle"
                        placeholder="Job Title">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" id="jobexperience" name="jobexperience"
                        formControlName="jobexperience" placeholder="Experience in months">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="shadow-sm card">
              <div class="card-body">
                <div class="d-flex justify-content-between card-title">
                  <h4 class="card-title d-flex align-items-center">Education</h4>
                  <button class="btn btn-primary d-flex align-items-center" (click)="addEducation();">+</button>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="row" *ngFor="let x of resume.education;let i=index">
                      <div class="col-md-3">
                        <div class="form-group">
                          <select class="form-control" id="degree" name="education" formControlName="degree">
                            <option value="B.E">B.E</option>
                            <option value="M.E">M.E</option>
                            <option value="B.COM">B.COM</option>
                            <option value="M.COM">M.COM</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <input type="text" class="form-control" id="collage" name="collage" formControlName="collage"
                            placeholder="School / Clg">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <input type="text" class="form-control" id="passing" name="passing" formControlName="passing"
                            placeholder="Passing">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <input type="text" class="form-control" id="percentage" name="percentage"
                            formControlName="percentage" placeholder="Percentage">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="shadow-sm card">
              <div class="card-body">
                <div class="d-flex justify-content-between card-title">
                  <h4 class="card-title d-flex align-items-center">Other Details</h4>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" id="details" name="details" formControlName="details"
                        rows="4"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="shadow-sm card">
          <div class="card-body">
            <div class="d-flex justify-content-between card-title">
              <h4 class="card-title d-flex align-items-center">Other Details</h4>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <button class="btn btn-primary form-control" (click)="formdataget();">Open PDF</button>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary form-control">Download PDF</button>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary form-control">Print PDF</button>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary form-control" type="reset" (click)="resetform()">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shadow-sm card">
          <div class="card-body">
            <div class="d-flex justify-content-between card-title">
              <h4 class="card-title d-flex align-items-center">Show Your Picture in Resume</h4>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="file" (change)="fileChanged($event);">
                </div>
                <div class="form-group" *ngIf="resume.profilePic">
                  <img src="{{resume.profilePic}}" class="img-thumbnail" alt="{{resume.profilePic}}">
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>